*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    width: 100vw;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

ol,
ul{
    list-style: none;
}

/* HEADER START */
header{
    width: 100vw;
}

header .container{
    width: 144rem;
    margin: 0 auto;
    padding: 1.6rem;
}

header .container .header{
    display: flex;
    align-items: center;
}

.header .logo{
    font-size: 3rem;
    font-weight: 900;
    color: #FFAE00;
    margin-right: 4rem;
}

.header .language{
    display: flex;
    align-items: center;
    margin-right: 4.3rem;
}

.header .language a{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    cursor: pointer;
}

.ru{
    color: #DAE0E5;
    padding-right: 1rem;
    border-right: .1rem solid #DAE0E5;
}

.uz{
    color: #FFAE00;
    padding-left: 1rem;
}

.search{
    width: 53rem;
    display: flex;
    align-items: center;
}

.search input[type="text"]{
    padding: 1.3rem 1.5rem;
    border-radius: .5rem 0 0 .5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
    width: 90%;
    border: .1rem solid #DAE0E5;
}

.search input[type="submit"]{
    padding: 1.5rem 1.5rem;
    border-radius: 0 .5rem .5rem 0;
    border: .1rem solid #DAE0E5;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.heart-cart-profile{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 2rem;
}

.heart,
.cart,
.profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}


.heart .desc,
.cart .desc,
.profile .desc{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}


.heart i,
.cart i,
.profile i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1.6rem;
    border-radius: 50%;
    padding: 2rem;
    background-color:#FFF45F;
    margin-right: 1rem;
}

.heart i::after,
.cart i::after,
.profile i::after{
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: red;
    border-radius: 50%;
    top: 0;
    right: 0;
}

.profile i{
    background-color: #FFAE00;
    color: #fff;
}

.heart-cart-profile .name{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    padding-bottom: .5rem;
}

.heart-cart-profile .type{
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFAE00;
}

/* HEADER END */

/* PRODUCT-CARD STYLE START*/
.product__list{
    width: 1090px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.product__list .product__list__card{
    position: relative;
    width: 310px;
    height: 566px;
    background-color: #fff;
    padding-top: 32px;
    padding-left: 30px;
    padding-right: 20px;
    border: 1px solid #DAE0E5;
}

.discount{
    width: 35px;
    height: 26px;
    border-radius: 5px;
    background-color: #F23D5B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color:#fff;
    position: absolute;
    top: 15px;
    left: 35px;
}

.product-card__like-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dae0e5;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    right:30px;
    top: 25px;
    transition: all .3s ease-in;
}

.product-card__like-icon:active{
    color:red;
    transition: all .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-card-img{
    width: 229px;
    height: 285px;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
}

.product-card__discount-price{
    font-size: 12px;
    color:#8e969e;
    text-decoration: line-through;
    margin-bottom: 4px;
}

.product-card__price{
    font-size: 20px;
    color:#000;
    text-decoration: none;
}

.product-card__price span{
    font-size: 14px;
    color:#8e969e;
}

.product-card__desc{
    font-size: 14px;
    color:#000;
    margin-top: 2px;
    margin-bottom: 11px;
}

.product-card__size-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.product-card__size-wrapper .product-card__size{
    font-size: 14px;
    color: #8E969E;
    width: 28px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in;
}

.product-card__size-wrapper .product-card__size:active{
    width: 28px;
    height: 24px;
    border-radius:5px;
    border: 1px solid #DAE0E5;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#171F26;
    transition: all .3s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-card__color{
    width: 28px;
    height: 28px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: transparent;  
    transition: all .3s ease-in;
}

.product-card__color:active{
    border: 2px solid #DAE0E5;
    margin-top: -100px;
    transition: all .3s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-card__btn{
    width: 165px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff7e6;
    color:#FFAE00;
    cursor: pointer;
    font-size: 14px;
    border: none;
    margin-top: 20px;
}

.product__next-bar-list{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    margin-top: 40px;
    border-bottom: 60px;
}

.product__next-bar-item.active{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFAE00;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: all .3s ease-in; 
}

.product__next-bar-item.active a{
    color: #fff;
    font-weight: bold;
    transition: all .3s ease-in; 
}

.product__next-bar-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in; 
}

.product__next-bar-item a{
    color: #FFAE00;
    font-weight: bold;
    transition: all .3s ease-in; 
}

.product__next-bar-item:hover{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #DAE0E5;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: all .3s ease-in-out; 
}

.product__next-bar-item:hover a{
    color: #000;
    font-weight: bold;
    transition: all .3s ease-in-out; 
}

.product__next-bar-item:active{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFAE00;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: all .3s ease-in-out; 
}

.product__next-bar-item:active a{
    color: #fff;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.product-card__next-btn{
    width: 94px;
    height: 40px;
    border-radius: 10px;
    background-color: #FFAE00;
    border: none;
    color:#fff;
    cursor: pointer;
}

/* /PRODUCT-CARD STYLE END*/

.product {
    display: block;
    width: 1473px;
    margin: 0 auto;
    
}
.product .box .product_in {
    width: 1473px;
    height: 285px;
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.product .box .product_in .product_box {
    background-color: black;
    border-radius: 20px;
    height: 300px;
}
.product .box .product_in .product_box .product_img {
    width: 485px;
    height: 250px;
}
.product .box .product_in .product_box p {
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

